<section class="activities-section">
  <h2 data-aos="fade-right" data-aos-easing="ease-in-out">Activities</h2>
  <div data-aos="fade-up" data-aos-duration="1500" data-aos-easing="ease-in-out" class="text-section">
    <p>We organize regular training sessions, friendly matches, and workshops to help you improve your skills. Beyond
      the game, we also enjoy activities like photography walks, trekking, and diet/walk challenges to stay active and
      connected. Join us for fun, growth, and community!
    </p>

  </div>
</section>