<footer class="footer-section">
    <p>&copy; 2025 Leo Badminton Club. All rights reserved.</p>
    <div class="social-links">
      <a href="#" mat-icon-button><mat-icon aria-hidden="false" aria-label="Facebook" fontIcon="facebook"></mat-icon></a>
      <a href="#" mat-icon-button><mat-icon aria-hidden="false" aria-label="Instagram" fontIcon="instagram"></mat-icon></a>
      <a href="#" mat-icon-button><mat-icon aria-hidden="false" aria-label="Whatsapp" fontIcon="whatsapp"></mat-icon></a>
      
    </div>
  </footer>