<section class="schedules-section">
  <h2 data-aos="fade-right" data-aos-easing="ease-in-out">Schedules</h2>
  <div data-aos="fade-up" data-aos-duration="1500" data-aos-easing="ease-in-out" class="text-section">
  <p>Whether it's for practice, competition, or just for fun, we make sure to dedicate time regularly to enjoy the game
    we love. Consistency is key to improving skills, building teamwork, and staying active. Below, you’ll find our
    regular playing schedule, which we try to stick to as closely as possible.
  </p>
  <mat-list>
      <mat-list-item><span class="schedule">Thursday: 8 PM - 10 PM</span></mat-list-item>
      <mat-list-item><span class="schedule">Saturday: 6 AM - 8 AM</span></mat-list-item>
      <mat-list-item><span class="schedule">Sunday  : 7 AM - 9 AM</span></mat-list-item>
    </mat-list>
  </div>
</section>