/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #181818;
}

body>div {
    overflow-x: hidden;
}

section {
    padding: 10px;
    position: relative;
    margin: 4px;
    border-radius: 5px;
    /* box-shadow: inset 6px -6px 11px 5px #19272d; */
    color: white;
    /* background-image: linear-gradient(rgb(123 0 0 / 25%), rgb(0 0 0 / 50%)); */
}

section h2 {
    padding-left: 10px;
    font-family: roboto;
    font-size: 30px;
    color: #ff6f61;
}

section h3.top-header {
    padding-left: 10px;
    font-family: monospace;
    color: #021937;
    font-size: 20px;
    line-height: 0.5;
    text-align: center;
    position: relative;
    border-bottom: 1px orange solid;
}

section p {
    padding: 15px;
    font-family: 'Roboto';

}


.leo-button {
    font-size: 1.2rem;
    padding: 15px 30px;
    background-color: #ff6f61;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.leo-button:hover {
    background-color: #ff4a3d;
}

/* @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

@media only screen and (min-width: 600px) {

    /* For tablets: */
    section {
        min-height: 380px;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    section {
        min-height: 500px;
    }
}